@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap");
body {
  font-family: "Inter", sans-serif;
}

#home {
  /* background-image: url("https://images.unsplash.com/photo-1473625247510-8ceb1760943f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=811&q=80"); */
  background-size: cover;
  min-height: calc(100vh - 56px);
  filter: brightness(120%);
  background: rgba(0, 0, 0, 0.4)
    url("https://images.unsplash.com/photo-1473625247510-8ceb1760943f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=811&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

.destination {
  position: relative;
}

.destination > .destination-info {
  background-color: rgba(19, 30, 33, 0.7);
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  color: white;
  visibility: hidden;
}

.destination:hover .destination-info {
  visibility: visible;
}
